extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- project title.
        h1= currentProject.project_name
        //- project description.
        p.lead.text-light
          | #{currentProject.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Iterates over the project technologies used and writes to the templat
        ul
          each proj in currentProject.technologies
            li= proj
          
        //- Links for each project on github pages and repositorry
        a.button.expanded(href=`${currentProject.live_link}`) Live Demo
        a.button.expanded(href=`${currentProject.github_link}`) GitHub Repo
    
    //- Iterates over image urls and writes them to the template
    each imageT, index in currentProject.images_urls
      if index == 0
      else
        img.image(src=`/static/images/${imageT}`)